div {
  width: 200px;
  height: 100px;
  color: white;
  margin: 10px;
}

.transition {
  background: red;
  transition: all 2s linear;
}

.transition:hover {
  background: rgb(248, 248, 74);
  transform: translateX(75px);
}

.animation {
  background: rgb(7, 194, 132);
  animation-name: move;
  animation-duration: 10s;
  animation-iteration-count: 3;
}

@keyframes move {
  0% {
    transform: translateX(20px);
  }
  50% {
    transform: translateX(100px);
    background: red;
  }
  75% {
    transform: translateX(-200px);
    background: yellow;
  }
  100% {
    transform: translateX(0px);
    background: green;
  }
}
