* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

.hero {
  background: url("./beach-resized.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  text-transform: uppercase;
  font-size: 60px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: seagreen;
}

.banner {
  height: 100vh;
  background: blue;
}
